body{width:357px;/* margin-left:500px; */padding:17px;background-image:url(johannes-plenio-hvrpOmuMrAI-unsplash.jpg);margin-left: auto;margin-right: auto;}
button.registration2 {
    width: 300px;
    color: white;
    background-color: #22ff3373;
    padding: 10px;
    /* border-radius: 10%; */
    cursor: pointer;border: none
}

.registration1 {border:none}

input#fn {
    width: 300px;
    border-radius: 10px;
	border:1px solid #f1f1f1
}

form {
    width: 317px;
    padding: 17px;
    background: #00000047;
    border: 1px solid white;
}

input#ln {}

input#ln {
    width: 300px;border:1px solid #f1f1f1;border-radius: 10px;

}

input#email {
    width: 300px;border:1px solid #f1f1f1;border-radius: 10px;

}

input#password {
    width: 300px;border:1px solid #f1f1f1;border-radius: 10px;

}

input#telephone {
    width: 300px;border:1px solid #f1f1f1;border-radius: 10px;

}
h1{text-align:center;color: white;}
.subject1 {
  float: left;
  width: 293px;
  margin-top: 6px;border: none
}

.subject2 {
  float: left;
  width: 293px;
  margin-top: 6px;padding-bottom:10px;border: none
}
textarea#subject{width:233px;}
.country1{
  float: left;
  width: 73px;
  margin-top: 6px;border: none
}

.country2{
  float: left;
  width: 233px;
  margin-top: 6px;padding-bottom:10px;border: none
}
textarea#subject{width:293px;border:none}
select#country{width:219px;border:none}
label {
    color: white;
    font-size: 17px;
}

